@using System.Collections.Generic
@using System.Linq
@using ePrzychodnia.Data
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@model ePrzychodnia.Core.ViewModels.Authorization.LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Zaloguj się";
}
<br />
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" style="width:315px;">
                <h4>Zaloguj się</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="Login" style="width:150px; display:inline-block;"></label>
                    <input asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" style="width:150px; display:inline-block;"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group" style="float:right;">
                    <button type="submit" class="btn btn-default">Zaloguj</button>
                </div>
            </form>
        </section>
    </div>

</div>